
<div>
    <div class="sidebar">
        <ul>
            <li>Audits</li>
            <li>Users</li>
            <li>Questions</li>
            <li>Awnsers</li>
            <li>Clients</li>
        </ul>
    </div>
</div>